.kolona{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.name{
    padding-top: 10px;
    width: 400px;
}
#idDugme{
    display: flex;
    justify-content: center;
}
.is-invalid {
    border: 2px solid red;
}
.text-danger{
    color: rgb(238, 96, 96);
}

